/Lesson1/Homework/HelloWorld/nbproject/private/
/Lesson1/Homework/HelloWorld/build/
/Lesson1/Homework/Variables/nbproject/private/
/Lesson1/Homework/Variables/build/
/Lesson1/Homework/Conditionals/nbproject/private/
/Lesson1/Homework/Conditionals/build/
/Lesson1/Homework/RecapDemo1/nbproject/private/
/Lesson1/Homework/RecapDemo1/build/
/Lesson1/Homework/SwitchCase/nbproject/private/
/Lesson1/Homework/SwitchCase/build/
/Lesson1/Homework/Loops/nbproject/private/
/Lesson1/Homework/Loops/build/
/Lesson1/Homework/Arrays/nbproject/private/
/Lesson1/Homework/Arrays/build/
/Lesson1/Homework/Arrays/dist/
/Lesson1/Homework/RecapDemo2/nbproject/private/
/Lesson1/Homework/RecapDemo2/build/
/Lesson1/Homework/DimensionalArrays/nbproject/private/
/Lesson1/Homework/DimensionalArrays/build/
/Lesson1/Homework/Strings/nbproject/private/
/Lesson1/Homework/Strings/build/
/Lesson1/Homework/MiniProject5/nbproject/private/
/Lesson1/Homework/MiniProject5/build/
/Lesson1/Homework/Metotlar/nbproject/private/
/Lesson1/Homework/Metotlar/build/
/Lesson1/Homework/Metotlar2/nbproject/private/
/Lesson1/Homework/Metotlar2/build/
/Lesson2/Homework/Metotlar/build/
/Lesson2/Homework/Metotlar/nbproject/private/
/Lesson2/Homework/Metotlar2/build/
/Lesson2/Homework/Metotlar2/nbproject/private/
/Lesson1/Homework/Metotlar3_VariableArgs/nbproject/private/
/Lesson1/Homework/Metotlar3_VariableArgs/build/
/Lesson1/Homework/Classlar/nbproject/private/
/Lesson1/Homework/Classlar/build/
/Lesson1/Homework/DegerVeReferanslar/nbproject/private/
/Lesson1/Homework/DegerVeReferanslar/build/
/Lesson1/Homework/ReCapDemo/nbproject/private/
/Lesson2/Homework/ReCapDemo/build/
/Lesson1/Homework/ClassWithAttiburutes/nbproject/private/
/Lesson1/Homework/ClassWithAttiburutes/build/
/Lesson1/Homework/Constructer/nbproject/private/
/Lesson1/Homework/Overloading/nbproject/private/
/Lesson1/Homework/Overloading/build/
/Lesson1/Homework/Inheritance/nbproject/private/
/Lesson1/Homework/InheritanceDemo/nbproject/private/
/Lesson1/Homework/InheritanceDemo/build/
/Lesson3/Homework/1/homeWork1/nbproject/private/
/Lesson3/Homework/1/homeWork1/build/
/Lesson3/Homework/2/HomeWork2/nbproject/private/
/Lesson3/Homework/HomeWork2/nbproject/private/
/Lesson3/Homework/HomeWork2/InheritanceDemo/nbproject/private/
/Lesson3/Homework/HomeWork2/Polimorfizm/build/
/Lesson3/Homework/HomeWork2/Polimorfizm/nbproject/private/
/Lesson3/Homework/HomeWork2/Constructer/nbproject/private/
/Lesson3/Homework/HomeWork2/Inheritance/nbproject/private/
/Lesson3/Homework/HomeWork2/MethodOverloading/build/
/Lesson3/Homework/HomeWork2/MethodOverloading/nbproject/private/
/Lesson3/Homework/HomeWork2/1-1/nbproject/private/
/Lesson3/Homework/1-1/nbproject/private/
/Lesson3/Homework/Constructer/nbproject/private/
/Lesson3/Homework/Inheritance/nbproject/private/
/Lesson3/Homework/InheritanceDemo/nbproject/private/
/Lesson3/Homework/MethodOverloading/build/
/Lesson3/Homework/MethodOverloading/nbproject/private/
/Lesson3/Homework/Polimorfizm/build/
/Lesson3/Homework/Polimorfizm/nbproject/private/
/Lesson3/Homework/Overriding/nbproject/private/
/Lesson3/Homework/Overriding/build/
/Lesson3/Homework/AbbstractClass/nbproject/private/
/Lesson3/Homework/AbstractDemo/nbproject/private/
/Lesson3/Homework/AbstractDemo/build/
/Lesson3/Homework/Intefaces/nbproject/private/
/Lesson3/Homework/Intefaces/build/
