/Lesson1/Homework/HelloWorld/nbproject/private/
/Lesson1/Homework/HelloWorld/build/
/Lesson1/Homework/Variables/nbproject/private/
/Lesson1/Homework/Variables/build/
/Lesson1/Homework/Conditionals/nbproject/private/
/Lesson1/Homework/Conditionals/build/
/Lesson1/Homework/RecapDemo1/nbproject/private/
/Lesson1/Homework/RecapDemo1/build/
/Lesson1/Homework/SwitchCase/nbproject/private/
/Lesson1/Homework/SwitchCase/build/
/Lesson1/Homework/Loops/nbproject/private/
/Lesson1/Homework/Loops/build/
/Lesson1/Homework/Arrays/nbproject/private/
/Lesson1/Homework/Arrays/build/
/Lesson1/Homework/Arrays/dist/
/Lesson1/Homework/RecapDemo2/nbproject/private/
/Lesson1/Homework/RecapDemo2/build/
/Lesson1/Homework/DimensionalArrays/nbproject/private/
/Lesson1/Homework/DimensionalArrays/build/
/Lesson1/Homework/Strings/nbproject/private/
/Lesson1/Homework/Strings/build/
